<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="primary">
      Trending Movies
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list *ngIf="isLoading">
    <ion-item *ngFor="let i of dummyArray; let idx = index; trackBy: trackByFn" lines="none" class="ion-padding-bottom">
      <ion-avatar slot="start">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-avatar>
      <ion-skeleton-text animated style="height: 40px"></ion-skeleton-text>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="!isLoading">
    <ion-item *ngFor="let item of moves; trackBy: trackByFn" (click)="goToDetail(item)">

      <ion-avatar slot="start">
        <img [src]="imageBaseUrl + '/w92' + item.poster_path" alt="poster">
      </ion-avatar>

      <ion-label class="ion-text-wrap">
        <h3>{{item.title}}</h3>
        <p>{{item.release_date | date:'y'}}</p>
      </ion-label>

      <ion-badge slot="end">{{item.vote_average}}</ion-badge>
    </ion-item>
  </ion-list>

  <ion-item lines="none" *ngIf="!isLoading && !moves.length">
    <ion-label class="ion-text-center">
      Movies not found
    </ion-label>
  </ion-item>

  <ion-alert *ngIf="error && error.length" [isOpen]="true" header="Error" [message]="error"  [buttons]="['OK']"></ion-alert>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
